@model MvcChef.Models.ChefRestaurantViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Chefs" asp-action="Index" method="get">
    <p>

        <select asp-for="ChefRestaurant" asp-items="Model.Restaurants">
            <option value="">All restaurants</option>
        </select>
        <p/>
        First name: <input type="text" asp-for="SearchStringFN" />

        Last name: <input type="text" asp-for="SearchStringLN" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chefs[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chefs[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chefs[0].Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chefs[0].MichelinStars)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chefs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MichelinStars)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
